
.container-middle {
    min-height: 50vh;
    width: 100%;
    background: #F5F5F5;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
}

.container-used-cards, .container-others-cards, .container-action-panel {

    background-color: #eee;
    margin: 20px;
    position: relative;
}

.container-used-cards{
    width: 25%;
}

.container-others-cards{
    width: 40%;
}

.container-action-panel{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.used-cards, .other-cards, .action-panel {
    width: 100%;
    height: 100%;
    position: absolute;
}

.container-animations-cards {
    position: relative;
    height: 100%;
    width: 100%;
}

.container-card{
    height: 100%;
    width: 80%;

}

.card{
    height: 100%;
    width: calc(50vh * 0.55);
    border-radius: 5px;
    border: solid 0px;
    position: relative;
    font-family: 'Anton';
    font-size: 3vh;
    line-height: 3vh;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}

.card.stop{
    color: #700315;
}

.card.attack{
    color: #ffb812;
}

.card.preview{
    color: #ff41eb;
}

.card.favor{
    color: #144042;
}

.card.shuffle{
    color: #ad8254;
}

.card.skip{
    color: #2cacff
}

.card.disarm{
    color: #5aff29;
}

.card.explosion{
    background: #666;
    border-color: #111;
}

.card.back{
    cursor: pointer;
    overflow: hidden;
    background-color: #2b2b2b;
    border-color: unset;
    background-size: 80%;
    background-position: 36% 50%;
    background-repeat: no-repeat;
    transition: all .3s;
    top:0;
    position: absolute;
    background-image: url("../images/EP_logo.png");

    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);*/
}

.card.back:hover {
    top: -15px;
    background-position: 36% 40%;
    /*box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.85);*/
}

.card.back .container-card-category{
    display: none;
}

.card.back .container-card-description:after{
    content: 'DOBIERZ KARTĘ';
    font-family: 'Anton', sans-serif;
    font-size: 2vh;
    line-height: 2vh;
    top: 50px;
    left: 28%;
    position: absolute;
    position: absolute;
    padding: 10px;
    border-radius: 3px;
    background-color: #ff9b05;
    transition: all .5s;
}

.card.back:hover .container-card-description:after{
    top: -60px;
}

.container-card-category{
    position: absolute;
    width: 100%;
    top: 5px;
    text-align: center;
}

.container-card-action{
    position: absolute;
    top: 50px;
    font-family: Oswald;
    font-size: 2vh;
    line-height: 2vh;

    padding: 40px;
    text-align: center;
}

.container-card-description{
    position: absolute;
    width: 100%;
    bottom: 35px;
    text-align: center;
}

/*OTHER CARDS*/

.container-others-cards{
    color: #333;
    display: flex;

}

.wrapper-other-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.other-cards{
    position: relative;
    width: 50%;
    height: 40vh;
}

.other-cards-first-slogan, .other-cards-second-slogan{
    font-family: 'Oswald', sans-serif;
}

.other-cards-first-slogan{
    font-size: 3vh;
    line-height: 3vh;
}

.other-cards-number{
    font-size: 23vh;
    line-height: 20vh;
    font-family: 'Anton', sans-serif;
}

.other-cards-second-slogan{
    line-height: 8.5vh;
    font-size: 12vh;
}

/*ACTION PANEL*/

.action-panel{
    width: 100%;
    height: 140px;

    text-align: center;
    background-color: #2b2b2b;
    color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 2vh;
    line-height: 2vh;
}

.action-panel-button{
    width: 80%;
    padding: 10px;
    background-color:#666666;
    border-radius: 3px;
    padding: 1vh;

    transition: all .5s;

}

.container-action-panel .action-panel-button:hover{
    cursor: not-allowed;
}

.container-action-panel.active .action-panel-button:hover{
    background-color: #ff9b05;
    cursor: pointer;
}

.play-card{

}

.end-turn{

}