
.container-middle {
    min-height: 50vh;
    width: 100%;
    background: #F5F5F5;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
}

.container-used-cards, .container-others-cards, .container-chat {
    width: 30%;
    margin: 20px;
    position: relative;
}

.used-cards, .other-cards, .chat {
    width: 100%;
    height: 100%;
    position: absolute;
}

.container-animations-cards {
    position: relative;
    height: 100%;
    width: 100%;
}

.container-card{
    height: 80%;
    width: 80%;
    margin-top: 2vh;
}

.card{
    height: 100%;
    width: calc(50vh * 0.55);
    border-radius: 5px;
    border: solid 1px;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}

.card.attack{
    background: #fff;
    border-color: #700315;
}

.card.shuffle{
    background: #fff;
    border-color: #ad8254;
}

.card.explosion{
    background: #666;
    border-color: #111;
}

.container-card-type{
    position: absolute;
    width: 100%;
    top: 5px;
    text-align: center;
}

.container-card-description{
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;
}